station_sky_std/MDK-ARM
bootloader/Project/
*.o
.DS_Store
*~
*.uvopt
*.dep
*.d
*.crf
*.map
*.sct
*.lnp
*.htm
*.axf
*.uvprojx
*.bak
*.lst
*.uvgui.*
.project
.settings
.cproject
*.uvoptx
*.uvguix.*
DebugConfig/
Listings/
Objects/
application/MDK-ARM/
mmc_rtk_base/
.vagrant/
JLinkLog.txt
*.orig
*.txt
*.txt
*.scvd
*.ini
*.TMP
.mxproject